<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Población</th>
            <th></th>
        </tr>
    </thead>
    <thead>
        <tr *ngFor="let item of paises; let i=index">
            <td>{{i+1}}</td>
            <td>
                <img class="small-flag" [src]="item.flags.png">
            </td>
            <td>{{item.capital}},{{item.name.common}}</td>
            <td>{{item.population | number}}</td>
            <td>
                <a [routerLink]="['/pais',item.flag]">ver...</a>
            </td>
        </tr>
    </thead>
</table>